@media only screen and (max-width: 1168px) {
    header .container {
    }
        .logo-wrap {
            margin-right: 100px;
        }
        .nav__list-item {
            margin-left: 0;
        }

        .nav__content{
            max-width: 600px;
        }

        .clients-banner .clients-list {
            align-items: center;
            flex-wrap: wrap;
        }
    
        .fuji-banner {
            height: 65vh;
        }
    
        .leafs-banner {
            height: 65vh;
        }
    
        .himalayas-banner {
            height: 65vh;
        }
               
        }

@media only screen and (max-width: 767px) {
    .nav-but-wrap {
        display: inline-block;
        
    }
        .nav {
            position: fixed;
        }
                .nav__content {
                    position: fixed;
                    visibility: hidden;
                    -webkit-transform: translate(0%, -50%);
                    transform: translate(0%, -50%);
                    
                }
                .nav__list-item {
                    opacity: 0;
                    margin-bottom: 20px;
                }
     .header-wrapper {
        width: calc(100% - 100px);
        margin-bottom: 0;
     }
         .nav__list {
        display: flex;
        flex-direction: column;
        -webkit-transform: translate(100px, 0%);
            transform: translate(100px, 0%);
            -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
            transition: opacity .2s ease, -webkit-transform .3s ease;
            transition: opacity .2s ease, transform .3s ease;
            transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
            align-items: center;
     }
         .nav__list-item a {
        font-size: 25px;
            line-height: 35px;
     }
         .nav__list-item:first-of-type a {
            font-size: 20px;
                line-height: 30px;

         }
                 .nav__list-item:last-of-type a {
                    font-size: 25px;
                        line-height: 35px;

                 }
    header .container {
        padding: 0 35px;
    }

    .clients-banner .clients-list {
        flex-direction: column;
    }

    .clients-banner .clients-list a {
        margin-bottom: 30px;
    }

    .clients-banner .clients-list a:last-of-type {
        margin-bottom: 0;
    }

    .help-request {
        padding: 0 30px;
    }

        .contact-banner h3 {
            font-size: 35px;
        }
    
        .fuji-banner {
            height: 50vh;
        }
    
        .leafs-banner {
            height: 50vh;
        }
    
        .himalayas-banner {
            height: 50vh;
        }
     }

@media only screen and (max-width: 580px) {
    

    .main-banner h3 {
        font-size: 10px;
        line-height: 16px;
    }

    .main-banner h1 {
        font-size: 34px;
        line-height: 49px;
    }

    .clients-banner h3 {
        font-size: 30px;
        line-height: 38px;
    }

    .clients-banner p {
        font-size: 20px;
    }

    .contact-banner h3 {
        font-size: 30px;
        line-height: 38px;
    }

    .contact-banner p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 372px) {
  
        .contact-banner h3 {
            font-size: 25px;
        }

}