* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: black;
    padding: 24px 0;
}
.container {
    max-width: 1168px;
    margin: auto;    
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
header nav ul li {
    margin-left: 32px;
}
header nav a {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    display: inline-block;
}
header nav ul li:first-of-type {
    margin-right: 24px;
}
header nav ul li:first-of-type a {
    font-size: 13px;
}
header nav ul li:last-of-type {
    margin-left: 31px;
}

header nav ul li:last-of-type a {
    padding: 11px 20px;   
    background-color: #FFFFFF;
    border-radius: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.main-banner {
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 71px;
    position: relative;

}
.main-banner .container {
    max-width: 580px;
    margin: inherit;
    text-align: center;
}
.main-banner h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.main-banner h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin: 1px 0 18px;
}

.main-banner p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.components {
    display: flex;
    position: absolute;
    right: 40px;
    bottom: 41px;
    list-style: none;
}
.components li {
    margin-left: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;        
}
.components li::before {
    content: "";
    display: inline-block;
    background-image: url("../images/icon_1.svg");
    height: 16px;
    width: 16px;
    margin-right: 6px;
    position: relative;
    top: 7px;
}
.components li:nth-child(2)::before {
    background-image: url("../images/icon_2.svg");
}
.components li:nth-child(3)::before {
    background-image: url("../images/icon_3.svg");
    width: 32px;
}
.components li:last-of-type::before {
    background-image: url("../images/icon_4.svg");
    width: 10px;
}

.fuji-banner {
    background-image: url("../images/fuji.jpg");
    height: 75vh;
    background-size: cover;
    position: relative; 
}
.leafs-banner {
    background-image: url("../images/leafs.jpg");
    background-size: cover;
    height: 75vh;
    position: relative;
}
.clients-banner {
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 140px;   
      
}  
.clients-banner article {
    text-align: center;
    max-width: 441px;
    margin: auto;
}

.clients-banner h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.clients-banner p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.clients-banner a { 
    display: inline-block;
    max-width: 128px;
}
.clients-banner a img {
    width: 100%;
    display: block;
}
.himalayas-banner {
    background-image: url("../images/himalayas.jpg");
    background-size: cover;
    height: 75vh;
    position: relative;
}
.contact-banner {
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 108px;
}
.help-request {
    text-align: center;
    max-width: 600px;
    margin: auto;
}
.contact-banner h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.contact-banner p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 22px;
}
.contact-banner a {
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 9px 10px 13px;
    border: none;
    border-radius: 14px; 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;     

}

.contact-banner a::before {
    content: "";
    background-color:black;
    border-radius: 14px; 
    padding: 16px;
    display: inline-block;
    position: relative;
    top: 12px;
    right: 5px;
}
.owl-stage {
    display: flex;
    justify-content: space-between;
    align-items: center;

}